.UDDI_WSClient .body table{width:100%;margin:0 0 20px;}
.UDDI_WSClient .body table th{padding:1px 3px}
.UDDI_WSClient .body table td{border:1px solid #ccc;padding:1px 3px;}
.UDDI_WSClient .body table caption{background:#EEE;color:#555;font-size:0.9em;}

.UDDI_WSClient .body pre{background:#F9F7F6;border:1px dashed #CCC;font-size:0.9em;padding:2px;white-space:pre-wrap;margin:0 0 15px;}

.UDDI_WSClient .body form .info{margin:0 0 15px;border-bottom:1px dotted #ccc;}
.UDDI_WSClient .body form.req .row{padding:3px 0;}
.UDDI_WSClient .body form.req label{display:block;float:left;text-align:right;width:150px;padding:0 9px 0 0;}
.UDDI_WSClient .body form.req .invia_form{display:block;margin:40px auto;width:150px;text-align:center;}
.UDDI_WSClient .body .alert{padding:15px;margin:10px 0;border:1px dashed #c33;color:red;background:#fee}

.UDDI_WSClient{}
.UDDI_WSClient .body{position:relative;overflow:visible !important;}
.UDDI_WSClient .body .menu{position: absolute;right: 25px;top:10px;}
.UDDI_WSClient .body .menu img{vertical-align:middle}
.UDDI_WSClient .body .menu a{color:#900;padding-left:22px}
.UDDI_WSClient .body .menu a.pdf{background:url('img/p.png') no-repeat left center}
.UDDI_WSClient .body .menu a.xml{background:url('../../img/root/database.png') no-repeat left center}
.UDDI_WSClient .body .menu a.csv{background:url('../../img/root/dirS2.gif') no-repeat left center}
.UDDI_WSClient .body .menu a.e{background:url('img/e.png') no-repeat left center}
.UDDI_WSClient .body .out{background:#fff;padding:50px 15px 15px;font:1.1em Arial;margin:0 0 20px;line-height:24px;}
.UDDI_WSClient .body .out .note{line-height: 15px;}
.UDDI_WSClient .body .editTemp{margin:9px 0 5px;background:#ffa;padding:2px;font-weight:bold;}