body{font:13px Arial;height:100%;overflow:hidden;}
header{padding:9px 15px;background:#0071B4;color:#fff;border-bottom:4px solid #eee;}
header h1{font-size:2em;}
#content{overflow:hidden}
#stats{text-align:left;padding:2px 8px;font-weight:bold;color:#777;font-size:.8em}

#tree{background:transparent url("../../img/root/sito.gif") no-repeat 10px 0;font-size:.9em;line-height:24px;padding:15px 9px 0;width:46%;overflow:scroll}
#tree li{line-height:20px}
#tree a[rel="b"] > .jstree-icon {
    background-image: url("../../img/admin/home.gif");
    background-position: 0 0;
}
#tree a[rel="s"] > .jstree-icon {
    background-image: url("../../img/admin/config.png");
    background-position: 0 0;
}
#tree a[rel="a"] > .jstree-icon {
    background-image: url("../../img/root/link.png");
    background-position: 0 0;
}


#info{width:50%;position:absolute;top:68px;right:1px;border-left:4px solid #eee;white-space:pre;overflow:scroll;padding:9px 4px;font:12px monospace;}
#info textarea{height:600px;}